<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes" thread-count="5">
    <test verbose="2" preserve-order="true" name="C:/Users/User/CucumberTesting/src/test/java/steps">
       <classes>
           <class name="runners.RunnerClass"></class>
       </classes>
    </test>
</suite>